
.element-animation{
  
	background-color:#ff4700;
	z-index:2000000;
	position:fixed;
	height: 8px;
	top:0;
	left:0;
	right:50%;
	animation: loader 1.5s infinite;
	
}

@keyframes loader {
    from {
		left:0;
		right:100%;
	}
	50% {
		left:0;
		right:0;
	}
    to {
		left:100%;
		right:0;
	}
}



/* Define some fonts */

@font-face {
    font-family: d-din;
    src: url(../../resources/font/D-DIN.WOFF);
}

@font-face {
    font-family: d-din-cond;
    src: url(../../resources/font/D-DINCondensed.WOFF);
}

@font-face {
    font-family: d-din-exp;
    src: url(../../resources/font/D-DINExp.WOFF);
}